body {
	margin: 0 auto;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	  sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	  monospace;
  }

  h1{
    margin: 1rem 0;
    font-size: 2rem;
  }

  .checkList{
    display: flex;
    flex-direction: column;
    background-color: rgb(214, 232, 233);
    flex-basis: 22rem;
    padding: 1rem;
    margin: 5%;
    height: 90%;
    overflow-y: auto;
  }

  .todo {
	  cursor: pointer;
  }

  .strike {
	  text-decoration: line-through;
  }
  
  .form{
    bottom: 5%;
  }

  .submitBtn, .clearBtn{
    border: 1px solid #3F0D0D;
    border-radius: 0.5rem;
    padding: 0.3rem;
    margin-left: 1rem;
    background-color: #94C6C9;
    
  }

  .submitBtn:hover{
    background-color: #b3d9db;
  }

  input{
    padding: 0.3rem;
  }

  .submitForm{
    position: absolute;
    bottom: 15%;
  }

  .todo{
    padding-left: 0.5rem;
  }

