.title{
    font-size: 2rem;
}

.btn{
    margin-top: 1rem;
    padding: 0.1rem 0.2rem;
    background-color: #c6e4e6;
    border: 1px solid #573E3E;
    border-radius: 0.2rem;
}

.btn:hover{
    background-color: #a6d9dd;
}

.container{
    background-color: aliceblue;
    padding: 2%;
    height: 80vh;
    margin: 5% 2%;
    width: 96%;
    height: 90%;
    overflow-y:scroll;
}

.form-group{
    margin: 1%;;
}

.pdf-container{
    background-color: #CCEBE7;
    height: 60vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}
